modules = ["nodejs-18"]
hidden = [".config"]
run = "npm start"
entrypoint = "index.js"

[nix]
channel = "stable-24_11"

[deployment]
run = ["npm", "start"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001
